# Git submodules for dependencies
# To be populated in Issue #3
[submodule "deps/libdatachannel"]
	path = deps/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "deps/nlohmann-json"]
	path = deps/nlohmann-json
	url = https://github.com/nlohmann/json.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
